$accent_color: #0d5aa5;
$primary_color: #8b8b8b;
$secondary_color: #8b8b8b;
$link_color: #0d5aa5;
$link_hover_color: #ffd910;
$title_color: #333333;
$bg_color: #fff;
$input_border_color: #d9d9d9;
$icon_color: #7a7a7a;

$dance_accent_color: #d52b74;
$dance_primary_color: #bcbcbc;
$dance_input_border: #393939;
$dance_bg_color: #100a19;

$box_shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
$border_radius: 0px;

$font_family: 'Red Hat Display', sans-serif;
$font_family_text: 'Red Hat Display', sans-serif;
$font_family_button: 'Kanit', sans-serif;
